@font-face{
  src: url(../fonts/Barlow/Barlow-Regular.ttf);
  font-family: 'Barlow';
  font-weight: 400;
}
/* @font-face{
  src: url(../fonts/Barlow/Barlow-SemiBold.ttf);
  font-family: 'Barlow';
  font-weight: 600;
} */